/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 1000;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

#overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: visible;
}

#npc{
  width: 100%;
  height: 40%;
  bottom: 2em;
  position:absolute;
  z-index: 10001;
}

#text {
  width: 100%;
  height: 40%;
  bottom: 0;
  position: absolute;
  z-index: 10000;
  background-color: white;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 2em;
  opacity: 0.9;
}

.style-dialogue {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

.style-name-tag {
  /* font-size: 2em; */
  padding-top: .5em;
  font-family: 'Gothic A1', sans-serif;
}

#map {
  height: 91%;
  /* position:absolute; */
}

#modal-container {
  width: 900px;
  height: 650px;
  padding: 0;
  margin: 0;
}

/* Optional: Makes the sample page fill the window. */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: none;
}

#collectables {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

#collectables div {
  width: 100px;
  height: 150px;
  float: left;
}
